<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.Logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.Editservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlets</servlet-name>
        <servlet-class>com.tech.blog.servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>com.tech.blog.servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>com.tech.blog.servlet.LoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet2</servlet-name>
        <servlet-class>com.tech.blog.servlet.LogoutServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet1</servlet-name>
        <servlet-class>com.tech.blog.servlet.RegisterServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet1</servlet-name>
        <servlet-class>com.tech.blog.servlet.EditServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikedServlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.LikedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutservlet</servlet-name>
        <url-pattern>/Logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editservlet</servlet-name>
        <url-pattern>/Editservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlets</servlet-name>
        <url-pattern>/servlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet2</servlet-name>
        <url-pattern>/LogoutServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet1</servlet-name>
        <url-pattern>/RegisterServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet1</servlet-name>
        <url-pattern>/EditServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikedServlet</servlet-name>
        <url-pattern>/LikedServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
